body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000000;
}

.coming-soon-container {
    text-align: center;
    color: white;
}

img {
    max-width: 100%;
    height: auto;
}
