---
import '../styles/about.css';
import Head from '../components/Head.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import FooterBar from '../components/FooterBar.astro';
---

<Head title="About"/>

<Navbar />

<main>
    <div class="about-container">
        <h1 class="about-title">About Us</h1>
        <p class="about-text">
        IJ Construction Group, LLC, founded in 2023, is a woman/minority-owned masonry construction 
        company dedicated to exceptional craftsmanship and strategic growth. Despite its recent establishment, 
        the company benefits from a team with decades of industry experience and a commitment to superior workmanship. 
        Combining technical expertise with entrepreneurial vision, IJ Construction Group aims to build a strong reputation 
        in the construction industry. With a focus on professionalism and operational integrity, the company is poised 
        to deliver outstanding masonry services while fostering long-term growth and excellence.
        </p>
    </div>
</main>

<Footer />
<FooterBar />