---
import Quote from '../components/Quote.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import Mission from '../components/Mission.astro';
import FooterBar from '../components/FooterBar.astro';
import Slideshow from '../components/Slideshow.astro';
import ProjectsGallery from '../components/ProjectsGallery.astro';
---

<head>
	<!-- Set the title of the page -->
	<title>Home - IJ Construction Group</title>
  
	<!-- Favicon (logo as icon) -->
	<link rel="icon" type="image/png" href="/images/ijLogo.jpeg" />
  
	<!-- Optional: For better performance, you can add various favicon sizes -->
	<link rel="icon" type="image/x-icon" href="/images/ijLogo.jpeg" />
	<!-- For higher resolutions or Apple touch icon -->
	<link rel="apple-touch-icon" href="/images/ijLogo.jpeg">
	
	<!-- Meta tags, etc. -->
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
	<Navbar />
<main>
	<Slideshow />
	<Mission />
	<Quote />
	<ProjectsGallery />
</main>
	<Footer />
	<FooterBar />