---
import '../styles/projects.css';
import { Image } from 'astro:assets';
import Head from '../components/Head.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import ijJob1 from '../assets/slideshow/ijJob1.jpeg';
import ijJob4 from '../assets/slideshow/ijJob4.jpeg';
import FooterBar from '../components/FooterBar.astro';
---

<Head title="Projects"/>

<Navbar />

<main class="projects-main">
    <h1>Projects</h1>
    <div class="projects-container">
        <div class="project-card">
        <Image src={ijJob1} alt="Commercial Projects" />
        <div class="card-info">
            <h3>Commercial</h3>
            <a href="/commercial-projects" class="view-more">View More</a>
        </div>
        </div>
        <div class="project-card">
        <Image src={ijJob4} alt="Residential Projects" />
        <div class="card-info">
            <h3>Residential</h3>
            <a href="/residential-projects" class="view-more">View More</a>
        </div>
        </div>
    </div>
</main>

<Footer />
<FooterBar />