---
import '../styles/projects.css';
import Head from '../components/Head.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import FooterBar from '../components/FooterBar.astro';
---

<Head title="Projects"/>

<Navbar />

<main class="projects-main">
    <h1>Projects</h1>
    <div class="projects-container">
        <div class="project-card">
        <img src="/images/ijJob1.jpeg" alt="Commercial Projects" />
        <div class="card-info">
            <h3>Commercial</h3>
            <!-- <p>View our commercial projects</p> -->
            <a href="/commercial-projects" class="view-more">View More</a>
        </div>
        </div>
        <div class="project-card">
        <img src="/images/ijJob4.jpeg" alt="Residential Projects" />
        <div class="card-info">
            <h3>Residential</h3>
            <!-- <p>View our residential projects</p> -->
            <a href="/residential-projects" class="view-more">View More</a>
        </div>
        </div>
    </div>
</main>

<Footer />
<FooterBar />