---
import '../styles/residential-projects.css';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import Posthog from '../components/posthog.astro';
import FooterBar from '../components/FooterBar.astro';

const projects = [
  { id: 'kitchens',  type: 'Residential', name: 'Kitchens',  image: '/images/ijKitchen1.jpg' },
  { id: 'garages',   type: 'Residential', name: 'Garages',   image: '/images/ijGarage1.jpg' },
  { id: 'bathrooms', type: 'Residential', name: 'Bathrooms', image: '/images/ijBathroom1.jpg' },
];
---

<head>
	<title>Residential Projects - IJ Construction Group</title>

	<link rel="icon" type="image/png" href="/images/ijLogoAlt.png" />
	<link rel="icon" type="image/x-icon" href="/images/ijLogoAlt.png" />
	<link rel="apple-touch-icon" href="/images/ijLogoAlt.png">

	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <Posthog />
</head>

<Navbar />

<main class="project-type-main">
    <a href={`/projects`} class="view-more">Back to Projects</a>
    <h1>Residential Projects</h1>
    <div class="project-type-container">
        {projects.map(project => (
        <div class="project-card">
            <img src={project.image} alt={project.name} />
            <div class="card-info">
            <h3>{project.name}</h3>
            <a href={`/project-gallery/${project.id}`} class="view-more">View Pictures</a>
            </div>
        </div>
        ))}
    </div>
</main>

<Footer />
<FooterBar />