---
import '../styles/services.css';
import Head from '../components/Head.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import FooterBar from '../components/FooterBar.astro';
---

<Head title="Services"/>

<Navbar />

<main>
    <h1 class="services-title">Services</h1>

    <div class="services-main">
        <div class="services-container">
            <section class="services-card">
            <h2>Commercial</h2>
            <ul class="ul">
                <li>Steel, Stone, and Concrete Curbs</li>
                <li>Sidewalks</li>
                <li>Bridge Decks</li>
                <li>Stamped Concrete</li>
                <li>CIP Retaining Walls</li>
                <li>CIP Flood Walls</li>
                <li>Concrete Caps</li>
                <li>Mechanical Equipment Pads</li>
                <li>Foundations</li>
                <li>Slabs</li>
                <li>Concrete Stairs</li>
                <li>CMU Walls</li>
                <li>Through-wall / Coping Flashing</li>
                <li>Storm System</li>
                <li>Utility Underground Work</li>
            </ul>
            </section>

            <section class="services-card">
                <h2>Residential</h2>
                <ul class="ul">
                    <li>Retaining Walls</li>
                    <li>CMU Walls</li>
                    <li>Stone Stairs</li>
                    <li>Patios</li>
                    <li>Walkways</li>
                    <li>Pavers</li>
                    <li>Stone Accent Walls</li>
                    <li>Chimneys</li>
                    <li>Driveways</li>
                    <li>Driveway Aprons</li>
                    <li>Stucco Finish (EIFS)</li>
                    <li>Kitchen Restoration</li>
                    <li>Bathroom Restoration</li>
                    <li>Painting</li>
                </ul>
            </section>
            <section class="services-footer">
                <strong>Specializing in</strong> <i>Stone, Brick, Pavers and Concrete Work</i>
            </section>
        </div>
    </div>
</main>
  
<Footer />
<FooterBar />