---
import '../styles/services.css';
import Head from '../components/Head.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import FooterBar from '../components/FooterBar.astro';
---

<Head title="Services"/>

<Navbar />

<main>
    <h1 class="services-title">Services</h1>

    <div class="services-main">
        <div class="services-container">
            <section class="services-card">
            <h2>Commercial</h2>
            <ul class="ul">
                <li>Retaining Walls</li>
                <li>Concrete Steps</li>
                <li>Stone Accent Walls</li>
                <li>Stucco Finish</li>
                <li>New Concrete Slab</li>
                <li>Painting</li>
            </ul>
            </section>

        <section class="services-card">
            <h2>Residential</h2>
            <ul class="ul">
            <li>Curbs</li>
            <li>Sidewalks</li>
            <li>CIP Concrete Walls</li>
            <li>Brick Restoration</li>
            <li>Brick Installation</li>
            <li>Stone Walls</li>
            <li>Stucco Finish</li>
            </ul>
        </section>
        </div>
    </div>
</main>
  
<Footer />
<FooterBar />