---
import '../styles/thankyou.css';
import Head from '../components/Head.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import FooterBar from '../components/FooterBar.astro';
---

<Head title="Thank You"/>

<Navbar />

<main>
    <div class="thankyou-container">
        <a href={`/`} class="back-home">Back to Home</a>
        <h1 class="thankyou-title">Thank you!</h1>
        <p class="thankyou-text">
        We have received your message and contact information. We will be in touch shortly.
        </p>
    </div>
</main>

<Footer />
<FooterBar />