---
import '../styles/FooterBar.css';
---
<footer class="footer-bar">
    <div class="footer-bar-content">
      <span>Copyright&copy;2024 IJ Construction Group, LLC</span>
      <span class="divider">|</span>
      <span>NYC License: 2123504-DCWP</span>
      <span class="divider">|</span>
      <span>Westchester License: WC-37011-H23</span>
      <span class="divider">|</span>
      <span>Website by: <a href="#home">devfig37</a></span>
    </div>
</footer>
  