---
import '../styles/Navbar.css';
import { Image } from 'astro:assets';
import ijLogoAlt from '../../src/assets/logo/ijLogoAlt.png';
---
<header>
  <nav>
    <div class="logo">
      <a href="/"><Image src={ijLogoAlt} alt={"Company Logo"}/></a>
    </div>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
    <div class="hamburger">☰</div>
  </nav>
</header>
<script>
  document.addEventListener('DOMContentLoaded', () => {

    const navLinks = document.querySelectorAll('.nav-links a');

    const normalizePath = (path:any) => {
      return path.endsWith('/') && path !== '/' ? path.slice(0, -1) : path;
    };
  
    const updateActiveLink = () => {
      const currentPage = normalizePath(window.location.pathname || '/');

      navLinks.forEach(link => {
        if (link.getAttribute('href') === currentPage) {
          link.classList.add('active'); 
        } else {
          link.classList.remove('active');
        }
      });
    };

    updateActiveLink();

    window.addEventListener('popstate', updateActiveLink);

    const hamburger = document.querySelector('.hamburger');
    const navLinksMobile = document.querySelector('.nav-links');

    hamburger!.addEventListener('click', () => {
      navLinksMobile!.classList.toggle('active');
    });
  });
</script>