---
import '../styles/Navbar.css';
---
<header>
  <nav>
    <div class="logo">
      <img src="/images/ijLogo.jpeg" alt="Company Logo">
    </div>
    <ul class="nav-links">
      <li><a href="#home">Home</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
    <div class="hamburger">☰</div>
  </nav>
</header>
<script>
  document.addEventListener('DOMContentLoaded', () => {

    const hamburger = document.querySelector('.hamburger');
    const navLinks = document.querySelector('.nav-links');

    hamburger!.addEventListener('click', () => {
      navLinks!.classList.toggle('active');
      console.log("Toggled 'active' class on nav-links.");
    });
  });
</script>