---
import '../styles/Navbar.css';
---
<header>
  <nav>
    <div class="logo">
      <img src="/images/ijLogoAlt.png" alt="Company Logo">
    </div>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
    <div class="hamburger">☰</div>
  </nav>
</header>
<script>
  document.addEventListener('DOMContentLoaded', () => {

    const navLinks = document.querySelectorAll('.nav-links a');
  
    const updateActiveLink = () => {
      const currentPage = window.location.pathname || '/'; 

      navLinks.forEach(link => {
        if (link.getAttribute('href') === currentPage) {
          link.classList.add('active'); 
        } else {
          link.classList.remove('active');
        }
      });
    };

    updateActiveLink();

    window.addEventListener('popstate', updateActiveLink);

    const hamburger = document.querySelector('.hamburger');
    const navLinksMobile = document.querySelector('.nav-links');

    hamburger!.addEventListener('click', () => {
      navLinksMobile!.classList.toggle('active');
    });
  });
</script>