---
import '../styles/ProjectsGallery.css';
import { Image } from 'astro:assets';
import ijBridge3 from '../../src/assets/commercial/bridges/ijBridge3.jpg';
import ijRetainingWall15 from '../../src/assets/commercial/retaining-walls/ijRetainingWall15.jpg';
import ijSubway8 from '../../src/assets/commercial/subways/ijSubway8.jpg';
---
<section class="projects">
    <div class="project">
      <a href="/projects"><Image src={ijSubway8} alt={"Subway Project"}/></a>
      <h3 class="project-title">Lafayette Station</h3>
    </div>
    <div class="project">
      <a href="/projects"><Image src={ijBridge3} alt={"Bridge Project"}/></a>
      <h3 class="project-title">Saddle River</h3>
    </div>
    <div class="project">
      <a href="/projects"><Image src={ijRetainingWall15} alt={"Retaining Wall Project"}/></a>
      <h3 class="project-title">Mosholu Parkway</h3>
    </div>
</section>  