---
import '../styles/ProjectsGallery.css';
---
<section class="projects">
    <div class="project">
      <a href="/projects"><img src="/images/ijSidewalk1.jpg" alt="Project 1"></a>
    </div>
    <div class="project">
      <a href="/projects"><img src="/images/ijSonotube1.jpg" alt="Project 2"></a>
    </div>
    <div class="project">
      <a href="/projects"><img src="/images/ijStormsystem1.jpg" alt="Project 3"></a>
    </div>
</section>  