---
import '../styles/ProjectsGallery.css';
import { Image } from 'astro:assets';
import ijSidewalk1 from '../../src/assets/commercial/sidewalks/ijSidewalk1.jpg';
import ijSonotube1 from '../../src/assets/commercial/sonotube-footings/ijSonotube1.jpg';
import ijStormsystem1 from '../../src/assets/commercial/storm-system/ijStormsystem1.jpg';
---
<!-- Images not optimized -->
<!-- <section class="projects">
    <div class="project">
      <a href="/projects"><img src="/images/ijSidewalk1.jpg" alt="Project 1"></a>
    </div>
    <div class="project">
      <a href="/projects"><img src="/images/ijSonotube1.jpg" alt="Project 2"></a>
    </div>
    <div class="project">
      <a href="/projects"><img src="/images/ijStormsystem1.jpg" alt="Project 3"></a>
    </div>
</section>   -->

<!-- Images optimized -->
<section class="projects">
    <div class="project">
      <a href="/projects"><Image src={ijSidewalk1} alt={"Project 1"}/></a>
    </div>
    <div class="project">
      <a href="/projects"><Image src={ijSonotube1} alt={"Project 2"}/></a>
    </div>
    <div class="project">
      <a href="/projects"><Image src={ijStormsystem1} alt={"Project 3"}/></a>
    </div>
</section>  