---
import '../styles/ProjectsGallery.css';
---
<section class="projects">
    <div class="project">
      <a href="#roject 1"><img src="/images/ijJob1.jpeg" alt="Project 1"></a>
    </div>
    <div class="project">
      <a href="#Project 2"><img src="/images/ijJob2.jpeg" alt="Project 2"></a>
    </div>
    <div class="project">
      <a href="#Project 3"><img src="/images/ijJob3.jpeg" alt="Project 3"></a>
    </div>
</section>  