---
import '../styles/Slideshow.css';
import { Image } from 'astro:assets';
import ijJob1 from '../../src/assets/slideshow/ijJob1.jpeg';
import ijJob2 from '../../src/assets/slideshow/ijJob2.jpeg';
import ijJob3 from '../../src/assets/slideshow/ijJob3.jpeg';

const images = [ijJob1, ijJob2, ijJob3];
---

<div class="slideshow">
    {images.map((image, index) => (
        <Image 
            src={image} 
            alt={`Slide ${index + 1}`} 
            class={`slide ${index === 0 ? 'active' : ''}`} 
        />
    ))}
</div>

<script>
  
    document.addEventListener('DOMContentLoaded', () => {
      let currentSlide = 0;
      const slides = document.querySelectorAll('.slide');
  
      slides[currentSlide].classList.add('active');
  
      setTimeout(() => {
          setInterval(() => {
          slides[currentSlide].classList.remove('active');
          currentSlide = (currentSlide + 1) % slides.length;
          slides[currentSlide].classList.add('active');
          }, 3000);
      }, 3000);
  });
    
</script>